[Unit]
Description=Compton X11 compositor
Documentation=man:compton(1) man:compton-trans(1)
PartOf=graphical-session.target
After=graphical-session.target
Conflicts=compton.service

[Service]
Type=dbus
BusName=com.github.chjj.compton._%I
ExecStart=/usr/bin/compton -d :%I --config %E/compton/compton.conf --dbus
Restart=on-failure
RestartSec=2

[Install]
DefaultInstance=0
WantedBy=graphical-session.target
