[Unit]
Description=Compton X11 compositor
Documentation=man:compton(1) man:compton-trans(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/compton --config %E/compton/compton.conf
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
