[Unit]
Description=Dock helper service
BindsTo=dock.target
After=dock.target
RefuseManualStart=yes
RefuseManualStop=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/bin/systemctl --user --no-block start undock.target

[Install]
WantedBy=dock.target
