[Unit]
Description=Services which should run when machine is docked
BindsTo=dev-thinkpad-dock.device
Conflicts=undock.target
After=dev-thinkpad-dock.device

[Install]
WantedBy=dev-thinkpad-dock.device
