[Unit]
Description=Detect monitors and (re-)start panels for herbstluftwm
Requisite=herbstluftwm.service herbstluftwm-session.target
PartOf=reload-desktop@.target
After=xrandr-magic@.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/herbstclient emit_hook quit_panel
ExecStart=/bin/sh -c 'for i in $(herbstclient and , detect_monitors , list_monitors | cut -d: -f1); do systemctl --user restart barpyrus@$i.service; done'

[Install]
WantedBy=reload-desktop@.target
