[Unit]
Description=Services which should run when session is locked
Documentation=man:systemd.special(7)
Requires=lock-helper.service
BindsTo=graphical-session.target i3lock.service
Conflicts=unlock.target
After=graphical-session.target
StopWhenUnneeded=yes
