[Unit]
Description=Redshift - set color temperature of display according to time of the day
Documentation=man:redshift(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/redshift -v -c %E/redshift/redshift.conf

[Install]
WantedBy=graphical-session.target
