[Unit]
Description=Configure desktop for herbstluftwm
Requires=xrandr-magic@auto.service hlwm-panels.service
Requisite=herbstluftwm.service herbstluftwm-session.target
After=herbstluftwm-session.target
StopWhenUnneeded=yes
