[Unit]
Description=URxvt terminal daemon (socket activation)
Documentation=man:urxvtd(1) man:urxvt(1)
PartOf=graphical-session.target
After=graphical-session.target

[Socket]
ListenStream=%t/urxvt/urxvtd-%H.sock
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
