[Unit]
Description=URxvt terminal daemon (socket activation)
Documentation=man:urxvtd(1) man:urxvt(1)
PartOf=graphical-session.target
After=graphical-session.target
RequiresMountsFor=%t

[Socket]
ListenStream=%t/urxvtd-%H.sock

[Install]
WantedBy=sockets.target
