[Unit]
Description=Set the keyboard layout using the X Keyboard Extension
Documentation=man:setxkbmap(1) man:keyboard(5)
Wants=xmodmap.service
PartOf=graphical-session.target
After=graphical-session.target
Before=xmodmap.service

[Service]
Type=oneshot
EnvironmentFile=%h/.keyboard
ExecStart=/bin/sh -c "setxkbmap \
 -model ${XKBMODEL} \
 -layout ${XKBLAYOUT} \
 -variant ${XKBVARIANT} \
 -option \
 -option $(echo ${XKBOPTIONS} | sed 's/,/ -option /g')"

[Install]
WantedBy=graphical-session.target
