[Unit]
Description=Modify keymaps and pointer button mappings in X
Documentation=man:xmodmap(1)
PartOf=graphical-session.target
After=graphical-session.target
After=xkbmap.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xmodmap %h/.xmodmaprc

[Install]
WantedBy=graphical-session.target
