[Unit]
Description=XRandR magic script
Documentation=man:xrandr(1)
PartOf=graphical-session.target
After=graphical-session.target
Before=hlwm-panels.service

[Service]
Type=oneshot
ExecStart=%h/bin/xrandr-magic %I
ExecStartPost=/bin/sleep 0.2

[Install]
DefaultInstance=auto
WantedBy=reload-desktop@.target
