[Unit]
Description=XScreenSaver Utility
Documentation=man:xss-lock(1)
PartOf=graphical-session.target
After=graphical-session.target
Before=xset-xss.service

[Service]
Type=simple
ExecStart=/usr/bin/xss-lock -s ${XDG_SESSION_ID} --ignore-sleep -- systemctl --user --wait start lock.target
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
